# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
output/meshed000010.obj
output/meshed000020.obj
output/meshed000030.obj
output/meshed000040.obj
output/meshed000050.obj
output/meshed000060.obj
output/meshed000070.obj
output/meshed000080.obj
output/meshed000090.obj
output/meshed000100.obj
output/meshed000110.obj
output/meshed000120.obj
output/meshed000130.obj
output/meshed000140.obj
output/meshed000150.obj
output/meshed000160.obj
output/meshed000170.obj
output/meshed000180.obj
output/meshed000190.obj
output/meshed000200.obj
output/meshed000210.obj
output/meshed000220.obj
output/meshed000230.obj
output/meshed000240.obj
output/meshed000250.obj
output/meshed000260.obj
output/meshed000270.obj
output/meshed000280.obj
output/meshed000290.obj
output/meshed000300.obj
output/meshed000310.obj
output/meshed000320.obj
output/meshed000330.obj
output/meshed000340.obj
output/meshed000350.obj
output/meshed000360.obj
output/meshed000370.obj
output/meshed000380.obj
output/meshed000390.obj
output/meshed000400.obj
output/meshed000410.obj
output/meshed000420.obj
output/meshed000430.obj
output/meshed000440.obj
output/meshed000450.obj
output/meshed000460.obj
output/meshed000470.obj
output/meshed000480.obj
output/meshed000490.obj
output/meshed000500.obj
output/meshed000510.obj
output/meshed000520.obj
output/meshed000530.obj
output/meshed000540.obj
output/meshed000550.obj
output/meshed000560.obj
output/meshed000570.obj
output/meshed000580.obj
output/meshed000590.obj
output/meshed000600.obj
output/meshed000610.obj
output/meshed000620.obj
output/meshed000630.obj
output/meshed000640.obj
output/meshed000650.obj
output/meshed000660.obj
output/meshed000670.obj
output/meshed000680.obj
output/meshed000690.obj
output/meshed000700.obj
output/meshed000710.obj
output/meshed000720.obj
output/meshed000730.obj
output/meshed000740.obj
output/meshed000750.obj
output/meshed000760.obj
output/meshed000770.obj
output/meshed000780.obj
output/meshed000790.obj
output/meshed000800.obj
output/meshed000810.obj
output/meshed000820.obj
output/meshed000830.obj
output/meshed000840.obj
output/meshed000850.obj
output/meshed000860.obj
output/meshed000870.obj
output/meshed000880.obj
output/meshed000890.obj
output/meshed000900.obj
output/meshed000910.obj
output/meshed000920.obj
output/meshed000930.obj
output/meshed000940.obj
output/meshed000950.obj
*.obj
